/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ddhngxrtk9] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ddhngxrtk9] {
  color: #0077cc;
}

.btn-primary[b-ddhngxrtk9] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.navbar-light[b-ddhngxrtk9] {
  .navbar-nav {
    .nav-link {
      color: rgb(255, 255, 255);
    }
  }
}

.navbar-light[b-ddhngxrtk9] {
  .navbar-nav {
    .nav-link.home {
      color: #0000ff;
    }
  }
}

.home[b-ddhngxrtk9] {
  color: #0000ff;
}

.navbar-light[b-ddhngxrtk9] {
  .navbar-nav {
    .nav-link.active {
      color: blue !important;
      font-weight: bold;
      background-color: rgba(216, 234, 255, 0.5);
      border-radius: 10px;
    }
  }
}

.border-top[b-ddhngxrtk9] {
  border-top: 1px solid #e5e5e5;
}

.border-bottom[b-ddhngxrtk9] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ddhngxrtk9] {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

button.accept-policy[b-ddhngxrtk9] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ddhngxrtk9] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: #ffff;
  background-image: url('/imgs/headerLayout7.jpg');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: left;
}

.navbar-custom[b-ddhngxrtk9] {
  background-image: url('/imgs/headerLayout6.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-color: #0172ce !important;
}

@media (max-width: 767px) {
  .navbar-custom[b-ddhngxrtk9] {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: unset;
    background-color: #0073ce !important;
  }
  .navbar-light[b-ddhngxrtk9] {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .navbar-light[b-ddhngxrtk9] {
    .navbar-nav {
      margin-left: 0 !important;
    }
  }
  .navbar-light[b-ddhngxrtk9] {
    .navbar-nav {
      .nav-link.home {
        color: rgb(212, 212, 212);
      }
    }
  }
  .navbar-light[b-ddhngxrtk9] {
    .navbar-nav {
      .nav-link {
        color: rgb(212, 212, 212);
        font-size: 16px;
      }
    }
  }
  .navbar-light[b-ddhngxrtk9] {
    .navbar-nav {
      .nav-link .fa-user-shield {
        color: rgb(212, 212, 212);
      }
    }
  }
  .navbar-light[b-ddhngxrtk9] {
    .navbar-nav {
      .nav-link.active {
        color: rgb(255, 255, 255) !important;
        font-weight: bold;
        background-color: rgba(216, 234, 255, 0);
        border-radius: 0;
        text-shadow: 3px -2px #000c21;
      }
    }
  }
}
