@model feedBackMvc.Models.Admins


<div class="profile-container">
    <div class="profile-header">
        <h2>@Model.Ten</h2>
    </div>
    <div class="profile-info">
        <p><strong>ID:</strong> @Model.idAdmin</p>
        <p><strong>Email:</strong> @Model.Email</p>
    </div>
</div>
