@{
    ViewData["Title"] = "Page Not Found";
}

<h1>Oops! The page you are looking for does not exist.</h1>
<p>It might have been moved or deleted. Please check the URL or return to the homepage.</p>
<a href="@Url.Action("Index", "Home")">Go to Homepage</a>
