.table {
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid #f0f0f3;
  > :not(caption) > * > * {
    box-shadow: inset 0 0 0 rgb(255, 255, 255);
  }
}

.table th {
  background-color: #007bff;
  color: white;
}

.table td {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #ddd;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: #f0f0f3;
  border-style: solid;
  border-width: 2px;
}

.parent-row:hover td {
  background-color: #dfecfa !important;
}

.parent-row.active td {
  background-color: #dfecfa !important;
}

.child-questions {
  display: none;
}

.child-table {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  border-collapse: separate;
  border-spacing: 0;
}

.child-table th,
.child-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.child-table th:first-child {
  border-top-left-radius: 10px;
}

.child-table th:last-child {
  border-top-right-radius: 10px;
}

.toggle-icon {
  cursor: pointer;
  margin-right: 10px;
}

.btn.btn-success {
  cursor: pointer;
  background-color: #0260c3;
  font-weight: bold;
}

.new-row {
  margin-bottom: 15px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.action-buttons button {
  margin-left: 10px;
}

.footer-buttons {
  display: flex;
  justify-content: center;
  /* Centers the "Thêm" button horizontally */
  align-items: center;
  position: relative;
}

#cancel-all-btn {
  position: absolute;
  right: 15px;
  /* Adjust the distance from the right edge as needed */
  display: none;
  /* Initially hidden */
}

#add-all-btn {
  position: absolute;
  right: 150px;
  /* Adjust the distance from the right edge as needed */
  display: none;
  /* Initially hidden */
  background-color: green;
}

.delete-row {
  cursor: pointer;
}
