.table {
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #f0f0f3;
    > :not(caption)>*>* {
        box-shadow: inset 0 0 0 rgb(255, 255, 255);
    }
}

.table th {
    background-color: #007bff;
    color: white;
}

.table td {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ddd;
}

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: #f0f0f3;
    border-style: solid;
    border-width: 2px;
}

.table thead th {
    background-color: #006ae7 !important;
}

.parent-row:hover td {
    background-color: #dfecfa !important;
}

.parent-row.active td {
    background-color: #bfdeff !important;
}

.child-questions {
    display: none;
}

.child-table {
    width: calc(100% - 40px);
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 60px;
    border-collapse: separate;
    border-spacing: 0;
}

.child-table th,
.child-table td {
    border: 1px solid #b8bbff;
    padding: 8px;
    background-color: #dae3ff;
}

.child-table th:first-child {
    border-top-left-radius: 10px;
}

.child-table th:last-child {
    border-top-right-radius: 10px;
}

.toggle-icon {
    cursor: pointer;
    margin-right: 10px;
}

.btn.btn-success {
    cursor: pointer;
    background-color: #0260c3;
    font-weight: bold;
}

.new-row {
    margin-bottom: 15px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.action-buttons button {
    margin-left: 10px;
}

.footer-buttons {
    display: flex;
    justify-content: center;
    /* Centers the "Thêm" button horizontally */
    align-items: center;
    position: relative;
}

#cancel-all-btn,
.cancel-all-btn-child {
    position: absolute;
    right: 15px;
    /* Adjust the distance from the right edge as needed */
    display: none;
    /* Initially hidden */
}

#cancel-update-all-btn {
    position: absolute;
    right: 15px;
    /* Adjust the distance from the right edge as needed */
    display: none;
    /* Initially hidden */
}

#add-all-btn,
.add-all-btn-child {
    position: absolute;
    right: 150px;
    /* Adjust the distance from the right edge as needed */
    display: none;
    /* Initially hidden */
    background-color: green !important;
}

#update-all-btn {
    color: #ffffff;
    position: absolute;
    right: 200px;
    /* Adjust the distance from the right edge as needed */
    display: none;
    /* Initially hidden */
    background-color: green !important;
}

.delete-row {
    cursor: pointer;
}

.input-content {
    width: 100%;
    padding: 5px;
}

.hidden {
    visibility: hidden;
}

.cancel-icon {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}