body {
    margin: 0;
    padding: 0;
    background-color: #d5e9fd;
    margin-bottom: 50px;
    font-family: 'Times New Roman', Times, serif !important;
    font-size: 18px !important;
}

.container {
    padding: 20px;
    max-width: auto;
    margin: auto;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
    font-size: 30px;
}

h2 {
    margin-top: 30px;
    color: #343a40;
    font-size: larger;
}

p {
    line-height: 1.6;
}


/* Style for scroll-to-top button */

.scroll-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: #1f83ee;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

.scroll-to-top.show {
    opacity: 1;
}

.social-icons {
    display: flex;
    margin-top: 20px;
}

.social-icons a {
    color: #007bff;
    font-size: 24px;
    margin-right: 25px;
    text-decoration: none;
    transition: color 0.3s;
    background-color: #85d2ff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    color: #0056b3;
}